<h1>List of students</h1>
<% @students.each do |student| %>
  <p><%= link_to student.name, student_path(student.id) %></p>
<% end %>
<hr>
<br>
<%= link_to "Add new student", new_student_path, class: "links" %>
<%= link_to "Back to Teachers", teachers_path, class:"links" %>
